@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'forte';
  font-style:normal;
  font-weight: 100;
  font-stretch: 150%;
  font-display: swap;
  src: url(http://review-app.test/fonts/FORTE.ttf) format(truetype) tech(variations);
}

.font-forte {
  font-family: forte;
}

.active-content{
  border-bottom: 4px solid #38bdf8;
}

.bg-cm-dark::after{
  content:'';
  background:rgba(0, 0, 0, 0.5);
  width:100%;
  height:100%;
  position:absolute;
  top: 0;
  left: 0;
  /* opacity: 0.5; */
}

.roundedlg::after{
  border-radius: 0.5rem;
}

#modal-search .list-post-container{
  border-radius: 0.5rem;
  display: block;
  color: rgb(0 0 0);
  padding-left: 0.5rem; /* 8px */
  padding-right: 0.5rem; /* 8px */
  margin-bottom: 0.5rem; /* 8px */
  margin-top: 0.25rem;
}

#modal-search .list-post-container > div {
  width: 100%;
  z-index: 30;
  position: relative;
}

#modal-search .list-post-container > div > div {
  position: relative;
  width: 100%;
  padding: 0.5rem; /* 8px */
  border-width: 1px;
  border-radius: 0.5rem;
  box-shadow: 0 4px 6px -1px rgb(0 0 0 / 0.1), 0 2px 4px -2px rgb(0 0 0 / 0.1);
  background-color: rgb(248 250 252);
  height: max-content;
  display: flex;
  background-image:rgba(0,0,0,0)
}

#modal-search .list-post-container > div > div > div:nth-child(1) {
  height: 5rem; /* 80px */
  display: flex;
  align-items: center;
  border-radius: 0.125rem; /* 2px */
  background-color: rgb(229 231 235);
  margin-right: 0.5rem;
}

#modal-search .list-post-container > div > div > div:nth-child(1) > img {
  max-height: 100%;
  max-width: 50px;
  border-radius: 0.125rem; /* 2px */
  margin-left: 0.25rem;
  margin-right: 0.25rem;
}

#modal-search .list-post-container > div > div > div:nth-child(2) {
  height: 5rem; /* 80px */
}

#modal-search .list-post-container > div > div > div:nth-child(2) > h6 {
  font-weight: 700;
}

#modal-search .list-post-container > div > div > div:nth-child(3) {
  position: absolute;
  right: 0.75rem; /* 12px */
  top: 0px;
}
#modal-search .list-post-container > div > div > div:nth-child(3) > div {
  display: flex;
  justify-content: center;
  align-items: flex-end;
}
#modal-search .list-post-container > div > div > div:nth-child(3) > div > p {
  margin-top: 0px;
}

.more_result {
  width: 100%;
  z-index: 30;
  position: relative;
  color: rgb(255 255 255);
}


.rate-session, .session-status{
  display: flex;
  justify-content: space-between;
  vertical-align: top;
  align-items: center;
  padding-left: 1rem; 

  animation: fadeInAnimation ease 1s;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
}
.rate-session > button {
  transform: scale(0.5);
}

@keyframes fadeInAnimation {
  0% {
      opacity: 0;
  }
  100% {
      opacity: 1;
  }
}

.tooltip {
  position: relative;
  display: inline-block;
}

.tooltip .tooltip-center{
  left: -40px;
}
.tooltip .tooltip-center::after{
  left: 50%;
}
.tooltip .tooltip-rh{
  left: 90%;
}
.tooltip .tooltip-rh::after{
  left: 10%;
}
.tooltip .tooltip-lh {
  left: -80px;
}
.tooltip .tooltip-lh::after{
  left: 90%;
}

.tooltip .tooltiptext {
  visibility: hidden;
  
  padding-left: 0.5rem;
  padding-right: 0.5rem;

  width: 100px;
  background-color: #555;
  color: #fff;

  text-align: center;
  border-radius: 6px;
  position: absolute;
  z-index: 50;
  bottom: 100%;
  opacity: 0;
  transition: opacity 0.3s;
}

.tooltip .tooltiptext::after {
  content: "";
  position: absolute;
  top: 100%;
  /* left: 50%; */
  margin-left: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: #555 transparent transparent transparent;
}

.tooltip:hover .tooltiptext {
  visibility: visible;
  opacity: 1;
}